/LAB5 - TuiterLite/nbproject/private/
/LAB5 - TuiterLite/build/
/LAB6 - Intersecao/Intersecao/nbproject/private/
/Intersecao/nbproject/private/
/LAB6 - Intersecao/build/
/LAB7 - TuiteLiteMapsExcpetions/LAB7 - TuiteLiteMapsExcpetions/nbproject/private/
/TuiteLiteMapsExcpetions/nbproject/private/
/LAB7 - TuiteLiteMapsExcpetions/nbproject/private/
/LAB8 - CalculoMedia/nbproject/private/
/CalculoMedia/nbproject/private/
/LendoDeArquivo/nbproject/private/
/LAB8 - LendoDeArquivo/nbproject/private/
/LAB8 - LendoDeArquivo/build/
/FileNotFoundExemple/nbproject/private/